build/
.venv/
.DS_Store
camera_output/
lidar_output/
radar_output/
map/hh_clip.obj
map/hh_clip.mtl
map/LoD3-HH_Area*/
map/**/images_upscaled_x*/
map/tile006-006-3dtiles/
map/_analyze/
map/dgm/
map/terrain.obj
map/terrain.mtl
map/terrain_map.png
map/terrain.georef.json
map/hh_clip.georef.json
__pycache__/
